<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add A New Task</h1>
    <form action="/newTask" method="post">
    <p>Title: <input type="text" name="title"></p>
    <p>Description: <input type="text" name="title"></p>
    <p>Completed:  <select name="completed">
                    <option value="true">True</option>
                    <option value="false">False</option>
                    </select></p>
    </form>
</body>
</html>